In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error,confusion_matrix,accuracy_score,classification_report
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
import os

In [37]:
chem = pd.read_csv('Cases\Chemical Process Data\ChemicalProcess.csv')


chem.head()

<>:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
<>:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_8972\17242875.py:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
  chem = pd.read_csv('Cases\Chemical Process Data\ChemicalProcess.csv')

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3
3,41.42,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,1.2,2,7.2,0.0,0.00,10.6,1.1,1.8,2.1
4,42.49,7.47,63.33,72.25,14.02,17.91,54.66,100.0,18.22,12.80,...,0.017,0.2,2,7.3,0.0,0.00,11.0,1.1,1.7,2.1

In [38]:
X,y = chem.drop('Yield', axis=1), chem['Yield']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30,random_state=25)

Mean Strategy

In [39]:
imput = SimpleImputer(strategy='mean')
scale = StandardScaler()

In [40]:
#Without Scaling
X_trn_imp = imput.fit_transform(X_train)
X_tst_imp = imput.transform(X_test)
ks = np.arange(1,16)
score = []

for k in ks:
    model = KNeighborsRegressor(n_neighbors=k)
    model.fit(X_trn_imp, y_train)
    y_pred = model.predict( X_tst_imp )
    score.append([k, mean_absolute_error(y_test, y_pred)])

df_score = pd.DataFrame(score, columns=["K", "score"])
df_score.sort_values(by='score', ascending=True)

     K     score
4    5  1.286113
1    2  1.336132
2    3  1.338428
3    4  1.342453
11  12  1.347563
13  14  1.348625
14  15  1.351208
12  13  1.351379
10  11  1.356569
9   10  1.377528
5    6  1.381698
8    9  1.392977
6    7  1.400189
7    8  1.405684
0    1  1.646604

In [45]:
#With Scaling
X_trn_imp = imput.fit_transform(X_train)
X_tst_imp = imput.transform(X_test)
X_trn_imp_scal = scale.fit_transform(X_trn_imp)
X_tst_imp_scal = scale.transform(X_tst_imp)
ks = np.arange(1,16)
score = []

for k in ks:
    model = KNeighborsRegressor(n_neighbors=k)
    model.fit(X_trn_imp_scal, y_train)
    y_pred = model.predict( X_tst_imp_scal )
    score.append([k, mean_absolute_error(y_test, y_pred)])

df_score = pd.DataFrame(score, columns=["K", "score"])
df_score.sort_values(by='score', ascending=True)

     K     score
2    3  1.040063
1    2  1.043396
3    4  1.057830
6    7  1.094879
5    6  1.095566
4    5  1.101849
7    8  1.108656
8    9  1.138616
9   10  1.144849
10  11  1.147530
11  12  1.154025
12  13  1.165631
14  15  1.180440
13  14  1.184811
0    1  1.323019

#### Median Stargy

In [42]:
imput = SimpleImputer(strategy='median')
scale = StandardScaler()

In [43]:
#Without Scaling
X_trn_imp = imput.fit_transform(X_train)
X_tst_imp = imput.transform(X_test)
ks = np.arange(1,16)
score = []

for k in ks:
    model = KNeighborsRegressor(n_neighbors=k)
    model.fit(X_trn_imp, y_train)
    y_pred = model.predict( X_tst_imp )
    score.append([k, mean_absolute_error(y_test, y_pred)])

df_score = pd.DataFrame(score, columns=["K", "accurancy"])
df_score

     K  accurancy
0    1   1.666981
1    2   1.335566
2    3   1.324088
3    4   1.331651
4    5   1.258113
5    6   1.361195
6    7   1.385553
7    8   1.404127
8    9   1.390671
9   10   1.376623
10  11   1.347684
11  12   1.343035
12  13   1.348273
13  14   1.361671
14  15   1.356642

In [46]:
#With Scaling
X_trn_imp = imput.fit_transform(X_train)
X_tst_imp = imput.transform(X_test)
X_trn_imp_scal = scale.fit_transform(X_trn_imp)
X_tst_imp_scal = scale.transform(X_tst_imp)
ks = np.arange(1,16)
score = []

for k in ks:
    model = KNeighborsRegressor(n_neighbors=k)
    model.fit(X_trn_imp_scal, y_train)
    y_pred = model.predict( X_tst_imp_scal )
    score.append([k, mean_absolute_error(y_test, y_pred)])

df_score = pd.DataFrame(score, columns=["K", "error"])
df_score.sort_values(by='error', ascending=True)

     K     error
2    3  1.040063
1    2  1.043396
3    4  1.057830
6    7  1.094879
5    6  1.095566
4    5  1.101849
7    8  1.108656
8    9  1.138616
9   10  1.144849
10  11  1.147530
11  12  1.154025
12  13  1.165631
14  15  1.180440
13  14  1.184811
0    1  1.323019

#### Pipeline

In [ ]:
from sklearn.pipeline import Pipeline

imput = SimpleImputer(strategy='mean')
scale = StandardScaler()

pipe = Pipeline(steps=[('IMP',imput), ('Model', model)])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

mean_absolute_error(y_test, y_pred)

1.3512075471698097

In [53]:
imputers = ['mean', 'median']
scaler =StandardScaler()
ks = np.arange(1,16)
scores = []
for i in imputers:

    for k in ks:
        imput = SimpleImputer(strategy=i)
        model = KNeighborsRegressor(n_neighbors=k)
        pipe = Pipeline(steps=[('IMP',imput), ('SCL', scaler), ('Model', model)])
        pipe.fit(X_train, y_train)
        y_pred = pipe.predict( X_test )
        scores.append([i, k, mean_absolute_error(y_test,y_pred)])

df_score = pd.DataFrame(scores, columns=['impute', 'k', 'score'])
df_score.sort_values(by='score')

    impute   k     score
2     mean   3  1.037673
17  median   3  1.040063
16  median   2  1.043396
1     mean   2  1.044623
3     mean   4  1.055047
18  median   4  1.057830
5     mean   6  1.085535
6     mean   7  1.086873
21  median   7  1.094879
20  median   6  1.095566
7     mean   8  1.100873
19  median   5  1.101849
4     mean   5  1.101849
22  median   8  1.108656
8     mean   9  1.129329
23  median   9  1.138616
24  median  10  1.144849
9     mean  10  1.146566
25  median  11  1.147530
26  median  12  1.154025
10    mean  11  1.155352
11    mean  12  1.156069
27  median  13  1.165631
12    mean  13  1.172221
14    mean  15  1.180302
29  median  15  1.180440
13    mean  14  1.183288
28  median  14  1.184811
15  median   1  1.323019
0     mean   1  1.323019