In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error,confusion_matrix,accuracy_score,classification_report
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
import os

In [2]:
df = pd.read_csv('Cases\Concrete_Strength\Concrete_Data.csv')
df.head()

<>:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
<>:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_8640\418752748.py:1: SyntaxWarning: "\C" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\C"? A raw string is also an option.
  df = pd.read_csv('Cases\Concrete_Strength\Concrete_Data.csv')

   Cement  Blast  Fly  Water  Superplasticizer  Coarse   Fine  Age  Strength
0   540.0    0.0  0.0  162.0               2.5  1040.0  676.0   28     79.99
1   540.0    0.0  0.0  162.0               2.5  1055.0  676.0   28     61.89
2   332.5  142.5  0.0  228.0               0.0   932.0  594.0  270     40.27
3   332.5  142.5  0.0  228.0               0.0   932.0  594.0  365     41.05
4   198.6  132.4  0.0  192.0               0.0   978.4  825.5  360     44.30

In [ ]:
X,y = df.drop('Strength', axis=1), df['Strength']

In [8]:
#Without Scaling
X_tain, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)
model = KNeighborsRegressor()
model.fit(X_tain, y_train)
y_pred = model.predict(X_test)
error_score = mean_absolute_error(y_test,y_pred)
print(error_score)

7.084653721682849

In [9]:
#With Scaling
scaler = StandardScaler().set_output(transform='pandas')
X_train_scaled = scaler.fit_transform(X_tain)
X_test_scaled = scaler.fit_transform(X_test)
# y_test_scaled = scaler.fit_transform(y_test)
# y_train_scaled = scaler.fit_transform(y_train)

model = KNeighborsRegressor()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
error_score = mean_absolute_error(y_test,y_pred)
print(error_score)

6.982938511326861