In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.compose import ColumnTransformer
import os

Housing

In [2]:
housing = pd.read_csv('Datasets/Housing.csv')
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [3]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder


X,y = housing.drop('price', axis=1), housing['price']

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [5]:
from sklearn.linear_model import ElasticNet


aplhas = np.linspace(0.001, 15, 30)
l1 = np.linspace(0,1,10)
scores = []
for a in aplhas:
    for l in l1:

        el = ElasticNet(alpha = a)
        el.fit(X_train, y_train)
        y_pred = el.predict(X_test)
        scores.append([a, l, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'l1', 'score'])
df_scores.sort_values('score')

      alpha        l1         score
0     0.001  0.000000  11596.740275
1     0.001  0.111111  11596.740275
2     0.001  0.222222  11596.740275
3     0.001  0.333333  11596.740275
4     0.001  0.444444  11596.740275
..      ...       ...           ...
295  15.000  0.555556  17414.926649
296  15.000  0.666667  17414.926649
297  15.000  0.777778  17414.926649
298  15.000  0.888889  17414.926649
299  15.000  1.000000  17414.926649

[300 rows x 3 columns]

Bostan

In [6]:
boston = pd.read_csv("Datasets/Boston.csv")
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [7]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder


X,y = boston.drop('medv', axis=1), boston['medv']

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [9]:
from sklearn.linear_model import ElasticNet


aplhas = np.linspace(0.001, 15, 30)
l1 = np.linspace(0,1,10)
scores = []
for a in aplhas:
    for l in l1:

        el = ElasticNet(alpha = a)
        el.fit(X_train, y_train)
        y_pred = el.predict(X_test)
        scores.append([a, l, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'l1_ratio', 'score'])
df_scores.sort_values('score')

      alpha  l1_ratio     score
0     0.001  0.000000  3.089473
1     0.001  0.111111  3.089473
2     0.001  0.222222  3.089473
3     0.001  0.333333  3.089473
4     0.001  0.444444  3.089473
..      ...       ...       ...
295  15.000  0.555556  3.982229
296  15.000  0.666667  3.982229
297  15.000  0.777778  3.982229
298  15.000  0.888889  3.982229
299  15.000  1.000000  3.982229

[300 rows x 3 columns]

In [10]:
from sklearn.linear_model import ElasticNet


aplhas = np.linspace(0.001, 15, 30)
l1 = np.linspace(0,1,10)
scores = []
for a in aplhas:
    for l in l1:

        el = ElasticNet(alpha = a)
        el.fit(X_train, y_train)
        y_pred = el.predict(X_test)
        scores.append([a, l, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'l1_ratio', 'score'])
df_scores.sort_values('score')

      alpha  l1_ratio     score
0     0.001  0.000000  3.089473
1     0.001  0.111111  3.089473
2     0.001  0.222222  3.089473
3     0.001  0.333333  3.089473
4     0.001  0.444444  3.089473
..      ...       ...       ...
295  15.000  0.555556  3.982229
296  15.000  0.666667  3.982229
297  15.000  0.777778  3.982229
298  15.000  0.888889  3.982229
299  15.000  1.000000  3.982229

[300 rows x 3 columns]