In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error,confusion_matrix,accuracy_score,classification_report
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
import os

In [9]:
boston = pd.read_csv('Datasets\Boston.csv')
X=boston.drop('medv', axis=1)
y=boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=25)

<>:1: SyntaxWarning: "\B" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\B"? A raw string is also an option.
<>:1: SyntaxWarning: "\B" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\B"? A raw string is also an option.
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9332\3996154642.py:1: SyntaxWarning: "\B" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\B"? A raw string is also an option.
  boston = pd.read_csv('Datasets\Boston.csv')

In [10]:
ks = np.arange(1,16)
score = []
for k in ks:
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    score.append([k, mean_absolute_error(y_test, y_pred)])

df_score = pd.DataFrame(score, columns=['k', 'score'])
df_score.sort_values(by='score', ascending=False)

     k     score
14  15  4.627237
13  14  4.591400
12  13  4.564676
2    3  4.563158
11  12  4.534923
10  11  4.530801
1    2  4.500000
8    9  4.496345
9   10  4.481118
6    7  4.443609
7    8  4.414145
3    4  4.384868
5    6  4.362829
0    1  4.300000
4    5  4.276316

#### Knn with Scaling (Std scaling)

In [15]:
ks=np.arange(1,16)

scaler = StandardScaler().set_output(transform='pandas')
score = []
X_train_scl = scaler.fit_transform(X_train)
X_test_scl = scaler.transform(X_test)
for k in ks:

    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train_scl, y_train)

   
    y_pred = knn.predict(X_test_scl)
    score.append([k,mean_absolute_error(y_test,y_pred)])

df_score = pd.DataFrame(score, columns=['k', 'score'])
df_score.sort_values(by='score', ascending=True)

     k     score
0    1  2.650000
2    3  2.689912
3    4  2.719737
1    2  2.807566
5    6  2.864583
4    5  2.868947
14  15  2.928509
7    8  2.928783
10  11  2.941268
11  12  2.942654
12  13  2.953391
6    7  2.958459
9   10  2.961382
8    9  2.963450
13  14  2.965367

In [12]:
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
mean_absolute_error(y_test,y_pred)

4.563157894736841

#### HOusing Data

In [16]:
housing = pd.read_csv('Datasets/Housing.csv')
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [17]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder


X,y = housing.drop('price', axis=1), housing['price']

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [ ]:
#with Scaling
ks=np.arange(1,16)

scaler = StandardScaler().set_output(transform='pandas')
score = []
X_train_scl = scaler.fit_transform(X_train)
X_test_scl = scaler.transform(X_test)
for k in ks:

    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train_scl, y_train)

   
    y_pred = knn.predict(X_test_scl)
    score.append([k,mean_absolute_error(y_test,y_pred)])

df_score = pd.DataFrame(score, columns=['k', 'score'])
df_score.sort_values(by='score', ascending=True)

     k         score
3    4  12407.129573
4    5  12642.542683
9   10  12731.168293
14  15  12776.493902
10  11  12787.108647
13  14  12793.261324
12  13  12814.899156
11  12  12855.385671
8    9  12867.924119
7    8  12935.713415
5    6  13054.121951
6    7  13233.759582
2    3  13699.075203
1    2  15156.716463
0    1  17036.024390

In [24]:
#without scaling
ks=np.arange(1,16)


score = []

for k in ks:

    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train, y_train)

   
    y_pred = knn.predict(X_test)
    score.append([k,mean_absolute_error(y_test,y_pred)])

df_score = pd.DataFrame(score, columns=['k', 'score'])
df_score.sort_values(by='score', ascending=True)

     k         score
2    3  16956.605691
4    5  16974.496341
5    6  17033.884146
13  14  17095.358014
3    4  17185.521341
14  15  17270.135772
11  12  17344.276931
10  11  17398.662417
12  13  17427.580675
6    7  17518.982578
9   10  17540.569512
8    9  17575.090786
7    8  17592.823171
1    2  18987.347561
0    1  22645.731707