In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.compose import ColumnTransformer
import os

In [2]:
boston = pd.read_csv("Datasets/Boston.csv")
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

Housing Data

In [5]:
housing = pd.read_csv('Datasets/Housing.csv')
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [ ]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder


X,y = housing.drop('price', axis=1), housing['price']

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [10]:
from sklearn.linear_model import Ridge


aplhas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in aplhas:
    ridge = Ridge(alpha = a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

    alpha         score
6   5.000  11540.704019
7  10.000  11547.050792
5   2.500  11561.705728
4   1.500  11574.321775
3   1.000  11581.329165
2   0.100  11598.734394
1   0.010  11600.720198
0   0.001  11600.919547

In [13]:
np.linspace(0.01,15, 30)

array([1.00000000e-02, 5.26896552e-01, 1.04379310e+00, 1.56068966e+00,
       2.07758621e+00, 2.59448276e+00, 3.11137931e+00, 3.62827586e+00,
       4.14517241e+00, 4.66206897e+00, 5.17896552e+00, 5.69586207e+00,
       6.21275862e+00, 6.72965517e+00, 7.24655172e+00, 7.76344828e+00,
       8.28034483e+00, 8.79724138e+00, 9.31413793e+00, 9.83103448e+00,
       1.03479310e+01, 1.08648276e+01, 1.13817241e+01, 1.18986207e+01,
       1.24155172e+01, 1.29324138e+01, 1.34493103e+01, 1.39662069e+01,
       1.44831034e+01, 1.50000000e+01])

In [14]:
aplhas = np.linspace(0.01,15, 30)
scores = []
for a in aplhas:
    ridge = Ridge(alpha = a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

        alpha         score
13   6.729655  11533.144847
14   7.246552  11533.614623
12   6.212759  11534.936413
15   7.763448  11535.855795
11   5.695862  11537.312048
16   8.280345  11538.108299
10   5.178966  11539.809424
17   8.797241  11540.492377
9    4.662069  11542.437201
18   9.314138  11543.086137
8    4.145172  11545.649188
19   9.831034  11546.052288
20  10.347931  11549.564425
7    3.628276  11550.267860
21  10.864828  11554.099577
6    3.111379  11555.064724
22  11.381724  11558.592638
5    2.594483  11560.563059
23  11.898621  11563.320908
4    2.077586  11566.915648
24  12.415517  11568.600953
3    1.560690  11573.527531
25  12.932414  11573.836601
26  13.449310  11579.028242
2    1.043793  11580.681256
27  13.966207  11584.176274
28  14.483103  11589.281107
1    0.526897  11589.500282
29  15.000000  11594.343154
0    0.010000  11600.720198

Exp_Salaries

In [20]:
salary = pd.read_csv("Datasets/Exp_Salaries.csv")
salary.head()

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [25]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder


X,y = salary.drop('Salary', axis=1), salary['Salary']

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)
X.head()

,Gender_Male,Department_B,Department_C,Department_D,Years_Previous_Experience,Years Employed,Years_Education,Number_Supervised
0,1.0,0.0,0.0,0.0,1,0,7,0
1,0.0,0.0,0.0,0.0,3,15,9,4
2,1.0,0.0,0.0,0.0,6,5,1,0
3,0.0,0.0,0.0,0.0,6,18,5,5
4,1.0,0.0,0.0,0.0,11,3,3,6

In [24]:
aplhas = np.linspace(0.01,15, 30)
scores = []
for a in aplhas:
    ridge = Ridge(alpha = a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_absolute_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

        alpha        score
0    0.010000  3035.786926
1    0.526897  3060.819967
2    1.043793  3078.983379
3    1.560690  3092.990817
4    2.077586  3104.187550
5    2.594483  3113.345192
6    3.111379  3120.951434
7    3.628276  3132.904092
8    4.145172  3144.564226
9    4.662069  3153.884139
10   5.178966  3161.367187
11   5.695862  3167.384162
12   6.212759  3177.182276
13   6.729655  3190.000373
14   7.246552  3201.451354
15   7.763448  3211.729520
16   8.280345  3220.992746
17   8.797241  3231.045077
18   9.314138  3244.403487
19   9.831034  3256.751354
20  10.347931  3268.193224
21  10.864828  3278.819112
22  11.381724  3288.707048
23  11.898621  3297.925089
24  12.415517  3306.532919
25  12.932414  3314.583148
26  13.449310  3322.122370
27  13.966207  3329.192019
28  14.483103  3335.829098
29  15.000000  3342.066762